*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.box {
    position: relative;
    display: flex;
    align-items: center;
    width: 40%;           /* ancho fijo o lo que necesites */
    height: 50px;          /* alto fijo */
    border: 2px solid black; /* borde visible */
    background-color: white; /* color de fondo claro */
    border-radius: 50px;   
    gap: 80px;       /* espacio interno opcional */ 
    opacity: 0.4;
    border-width: 5px;
    padding: 20px;
    transition: box-shadow 0.3s, border-color 0.3s, background-color 0.3s;
}

.box_barra{
    display: flex;
    position: absolute;
    align-items: center;
    justify-content: start;
    width: 83%;
    height: 90%;
}

.barra_input{
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    font-size: 25px;
    margin-left: 20px;
}


.svg_juntos{
    display: flex;
    position: absolute;
    align-items: center;
    right: 35px;
    top: 4px;
    gap: 25px;
}

.svg2{
    stroke: black;
}


.box:focus-within{
    box-shadow: 0 12px 20px -6px rgba(0, 0, 0, 0.6);
}

.svg1:hover path{
    opacity: 1;
    fill: rgb(0, 72, 255);
}

.svg2:hover path{
    opacity: 1;
    stroke: #005eff;
}


